## import library

In [1]:
!pip install py7zr

Requirement already satisfied: py7zr in /usr/local/lib/python3.7/dist-packages (0.16.3)
Requirement already satisfied: pyzstd>=0.14.4 in /usr/local/lib/python3.7/dist-packages (from py7zr) (0.15.0)
Requirement already satisfied: texttable in /usr/local/lib/python3.7/dist-packages (from py7zr) (1.6.4)
Requirement already satisfied: pybcj>=0.5.0 in /usr/local/lib/python3.7/dist-packages (from py7zr) (0.5.0)
Requirement already satisfied: brotli>=1.0.9 in /usr/local/lib/python3.7/dist-packages (from py7zr) (1.0.9)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from py7zr) (4.8.2)
Requirement already satisfied: pycryptodomex>=3.6.6 in /usr/local/lib/python3.7/dist-packages (from py7zr) (3.11.0)
Requirement already satisfied: pyppmd>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from py7zr) (0.17.3)
Requirement already satisfied: multivolumefile>=0.2.3 in /usr/local/lib/python3.7/dist-packages (from py7zr) (0.2.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->py7zr) (3.6.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->py7zr) (3.10.0.2)

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt

#plt.rcParams['figure.figsize'] = 12, 8
%matplotlib inline
# notebook을 실행한 브라우저에서 바로 그림을 볼 수 있게 해주는 것

#Take a look at a iceberg
# plotly -> 시각화 툴, matplotlib보다 더 세련된 데이터 시각화 툴
# 코드가 더 간결
import plotly.offline as py
import plotly.graph_objs as go
from plotly import tools

In [3]:
#Ignore warnings
# 경고메시지 무시하고 숨기기
import warnings 
warnings.filterwarnings('ignore')

py.init_notebook_mode(connected=True) 
# plotly 를 jupyter notebook 에 사용하려면 이 커맨드를 입력해야 합니다

## 7z to Json

In [4]:
import py7zr
import os

In [5]:
if not os.path.exists('/kaggle/train/') :
    os.makedirs('/kaggle/train/')

if not os.path.exists('/kaggle/test/') :
    os.makedirs('/kaggle/test/')

with py7zr.SevenZipFile("/content/train.json.7z", 'r') as archive:
    archive.extractall(path="/kaggle/train")

with py7zr.SevenZipFile("/content/test.json.7z", 'r') as archive:
    archive.extractall(path="/kaggle/test")

for dirname, _, filenames in os.walk('/kaggle'): 
    for filename in filenames: 
        print(os.path.join(dirname, filename))

/kaggle/train/data/processed/train.json
/kaggle/test/data/processed/train.json
/kaggle/test/data/processed/test.json

## load data

In [6]:
train=pd.read_json("/kaggle/train/data/processed/train.json")
train.head()

         id  ... is_iceberg
0  dfd5f913  ...          0
1  e25388fd  ...          0
2  58b2aaa0  ...          1
3  4cfc3a18  ...          0
4  271f93f4  ...          0

[5 rows x 5 columns]

In [11]:
test=pd.read_json("/kaggle/test/data/processed/test.json")
test.head()

         id  ...  inc_angle
0  5941774d  ...  34.966400
1  4023181e  ...  32.615072
2  b20200e4  ...  37.505433
3  e7f018bb  ...  34.473900
4  4371c8c3  ...  43.918874

[5 rows x 4 columns]