## import library

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()

%matplotlib inline

pd.options.mode.chained_assignment = None
pd.options.display.max_columns = 999

## load data

In [9]:
train_df=pd.read_csv("/content/train_2016_v2.csv", parse_dates=["transactiondate"])
print("shape : ",train_df.shape)
train_df.head()

shape :  (90275, 3)

   parcelid  logerror transactiondate
0  11016594    0.0276      2016-01-01
1  14366692   -0.1684      2016-01-01
2  12098116   -0.0040      2016-01-01
3  12643413    0.0218      2016-01-02
4  14432541   -0.0050      2016-01-02

In [7]:
property_df=pd.read_csv("/content/properties_2016.csv")
print("shape : ",property_df.shape)
property_df.head()

shape :  (163629, 58)

   parcelid  airconditioningtypeid  ...  taxdelinquencyyear  censustractandblock
0  10754147                    NaN  ...                 NaN                  NaN
1  10759547                    NaN  ...                 NaN                  NaN
2  10843547                    NaN  ...                 NaN                  NaN
3  10859147                    NaN  ...                 NaN                  NaN
4  10879947                    NaN  ...                 NaN                  NaN

[5 rows x 58 columns]